@{
    ViewData["Title"] = "Add Reservation";
}

@model project2.Models.Appointment

<div>

    <form method="post" asp-route-id="@ViewBag.ID">
        <div asp-validation-summary="All"></div>

        <div> Appointment for @ViewBag.Time:</div>

        <input asp-for="TimeId" value="@ViewBag.ID" type="hidden" />
        @*<input asp-for="AppointmentID" type="hidden"/>*@

        <label asp-for="GroupName">Group Name</label>
        <input asp-for="GroupName" /><br />

        <label asp-for="GroupSize">Group Size</label>
        <input asp-for="GroupSize" /><br />

        <label asp-for="Email">Email</label>
        <input asp-for="Email" /><br />

        <label asp-for="Phone">Phone Number</label>
        <input asp-for="Phone" /><br />

        @*<label asp-for="TimeId">Time</label>
        <input asp-for="TimeId"value="@ViewBag.Time" readonly/><br />*@

        <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>

</div>