@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Confirm Reservation";
}

@model project2.Models.Appointment
<div class="text-center">
    <h2>Thank you, @Model.GroupName for setting up your appointment!</h2>

    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
</div>
