@{

}

<a asp-controller="Home" asp-action="Form" class="btn btn-primary">8:00</a>
<a asp-controller="Home" asp-action="Form" class="btn btn-primary">9:00</a>
<a asp-controller="Home" asp-action="Form" class="btn btn-primary">10:00</a>
<a asp-controller="Home" asp-action="Form" class="btn btn-primary">11:00</a>
<a asp-controller="Home" asp-action="Form" class="btn btn-primary">12:00</a>
<a asp-controller="Home" asp-action="Form" class="btn btn-primary">1:00</a>
<a asp-controller="Home" asp-action="Form" class="btn btn-primary">2:00</a>
<a asp-controller="Home" asp-action="Form" class="btn btn-primary">3:00</a>
<a asp-controller="Home" asp-action="Form" class="btn btn-primary">4:00</a>
<a asp-controller="Home" asp-action="Form" class="btn btn-primary">5:00</a>
<a asp-controller="Home" asp-action="Form" class="btn btn-primary">6:00</a>
<a asp-controller="Home" asp-action="Form" class="btn btn-primary">7:00</a>
<a asp-controller="Home" asp-action="Form" class="btn btn-primary">8:00</a>

